[extruder_stepper my_extra_stepper]

extruder: extruder
#   The extruder this stepper is synchronized to. If this is set to an
#   empty string then the stepper will not be synchronized to an
#   extruder. The default is "extruder".
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
#rotation_distance:7.702#7.68#7.83
rotation_distance: 5.238 #clockwork Bondtech 5mm Drive Gears
##	Update Gear Ratio depending on your Extruder Type
#gear_ratio: 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
#gear_ratio: 80:20 for M4, M3.1

microsteps: 32
#full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
#nozzle_diameter: 0.500
#filament_diameter: 1.75

[tmc2209 extruder_stepper my_extra_stepper]
uart_pin: PE1
#tx_pin: 
run_current: 0.75
sense_resistor: 0.110
hold_current: 0.1
stealthchop_threshold: 0
#STEPPERONLINE_1004VRN
Driver_TBL: 0
Driver_TOFF: 6
Driver_HSTRT: 7
Driver_HEND: 4
interpolate: true
